{% extends 'trackingapp/dashboard.html' %}

{% block dashboard %}
    <h2 class="mt-3">Fitness Tracker</h2>

    <form id="exercise-form" method="post">
        {% csrf_token %}

        <div>
            <label for="type">Type:</label>
            <input type="text" id="type" name="type">
        </div>
        <div>
            <label for="duration">Duration (in minutes):</label>
            <input type="number" id="duration" name="duration">
        </div>
        <div>
            <label for="met">METs:</label>
            <input type="text" id="met" name="met">
        </div>
        <button type="submit">Add Exercise</button>
    </form>
        
    <div class="m-5">
        <table class="table">
            <thead class="table-dark">
                <tr>
                    <th>Type</th>
                    <th>Duration</th>
                    <th>METs</th>
                    <th>Calories Burned</th>
                </tr>
            </thead>
            
            <tbody class="table-light">
                {% for act in activities %}
                    <tr>
                        <td>{{ act.name }}</td>
                        <td>{{ act.duration }}</td>
                        <td>{{ act.met }}</td>
                        <td>{{ act.calorie }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}    