{% extends 'main.html' %}

{% block content %}
    <section id="middle-content">
        <div class="container">
            <h2>Take Control of Your Health with Our Solutions</h2>
            <p>A fitness and food tracker app can help users monitor their physical activity and nutrition intake to reach their health and fitness goals</p>
            <div class="middle-content-cta">
                <a href="{% url 'about' %}" class="cta-btn">Learn More</a>
            </div>
        </div>
    </section>
{% endblock %}